.files > h1 {
    text-align: center;
    margin-bottom: var(--gap-small);
}
 
.grid {
    /* Masonry.js отрабатывает через JS, но для красоты центрируем */
    margin: 0 auto;
}

/* Карточка */
.file__image {
    width: calc((100% - 2 * var(--gap-small)) / 3);
    display: block;
    margin-bottom: var(--gap-small);
    cursor: pointer;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}