/* Контейнер Masonry */
.my-masonry-grid {
    display: flex;
    margin-left: -var(--gap-small); /* компенсирует padding колонок */
}

/* Каждая колонка */
.my-masonry-grid_column {
    padding-left: var(--gap-small);
    background-clip: padding-box;
}

/* Элемент-карточка */
.file__image {
    margin-bottom: var(--gap-small); /* вертикальный gap = горизонтальному */
    cursor: pointer;
}

.file__image img {
    /* чисто для страховки, но Next.js <Image> через style тоже подтянет */
    width: 100%;
    height: auto;
    display: block;
}
