html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-primary);
}

/* Блок страницы */
article {
    width: min(1280px, 100%);
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
    padding: var(--gap-medium);

    margin: 0 auto;
}

section {
    width: 100%;
}


/* Разделитель */
hr {
    width: 100%;
    border: none; /* Отключаем стандартную обводку и ставим обводку 2px */
    border-bottom: 2px solid var(--border-primary);
}

@supports (scrollbar-color: auto) {
    html {
        scrollbar-color: #b3b3b3 var(--bg-primary);
    }
  }
  
@supports selector(::-webkit-scrollbar) {
    html::-webkit-scrollbar {
        background: #b3b3b3;
        width: 12px;

    }
    html::-webkit-scrollbar-thumb {
        background: var(--bg-primary);
    }
}