header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    h1 {
        font-family: "Gill Sans MT", Calibri, sans-serif;
        text-transform: uppercase;
    }
    
    h2 {
        font-family: "Gill Sans MT", Calibri, sans-serif;
        letter-spacing: 2px;
    }
}

header ul {
    display: flex;
    gap: var(--gap-medium);
    margin-top: 40px;

    a {
        font-size: var(--p);
        border-bottom: 2px solid transparent;
        /* padding: 0 var(--gap-small); */

        &.active {
            border-bottom-color: black;
        }

        /* Наведение на пк */
        @media (hover: hover) {
            &:hover,
            &:focus-visible {
                border-bottom-color: black;
            }
        }

        /* На телефоне подчеркнута ссылка */
        // @media (hover: none) {
        //     border-bottom-color: black;
        // }
    }
}