/* Секция с папками */
.gallery {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);

    @media screen and (max-width: 900px) {
        gap: var(--gap-medium);
    }
}

/* Папка */
.folder {
    height: 400px;
    max-height: 400px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    /* Наведение на пк */
    @media (hover: hover) {
        &:hover .folder__image img,
        &:focus-visible .folder__image img {
            transform: scale(1.05);
        }
    }

    /* Клик на телефоне */
    @media (hover: none) {
        &:active .folder__image img {
            transform: scale(1.05);
        }
    }
}

.folder__image {
    width: 100%;
    transition: 1s all;
    margin-bottom: -4px; /* Под картинкой 4 пустых пикселя */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        transition: 1s all;

        transform: scale(1);
        transform-origin: center center;
        transition: transform 1s ease;
    }
}

.folder__label {
    width: 100%;
    height: 100%;
    background-color: #00000055;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    h3 {
        font-family: "Gill Sans MT", Calibri, sans-serif;
        font-weight: 700;
        color: var(--white-text);
    }
}